* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'Lexend Deca', sans-serif;
}


.container { 
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid blue;
    padding: 1em;
}


.sedans {
    background-color: hsl(31, 77%, 52%);
}

.SUVs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}